body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #333;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* Add margin between the containers */
}

.log-column {
  flex: 0 0 55%;
  padding: 10px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #999 #F5F5F5;
}

.log-column::-webkit-scrollbar {
  width: 10px;
}

.log-column::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.log-column::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.status-column,
.info-column {
  flex: 0 0 20%;
  padding: 10px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.column h3 {
  margin-top: 0;
}

.log-list {
  list-style-type: none;
  padding: 0;
}

.log-list li {
  margin-bottom: 5px;
}

.status-box {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
}

.relay-table {
  border-collapse: collapse;
  width: 100%;
}

.relay-table th {
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

.relay-table td {
  padding: 8px;
  text-align: center;
}

.relay-table th.active {
  background-color: #4CAF50;
  /* Green */
  color: #fff;
}

.on,
.ok {
  background-color: #4CAF50;
  /* Green */
}

.off {
  /* grey */
  background-color: #9E9E9E;
}

.busy {
  background-color: #FFC107;
  /* Yellow */
}

.error {
  background-color: #F44336;
  /* Red */
}

li.log-debug {
  color: #1565c0;
}

li.log-info {
  color: #2e7d32;
}

li.log-error {
  color: #d32f2f;
  /* Dark Red */
  font-weight: bold;
}

li.log-warning {
  color: #f57c00;
}

.voltage-meter {
  width: 100%;
  margin: 30px 0;
}

.scale {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* New style for the marker */
.marker {
  height: 30px;
  width: 50px;
  background-color: #4CAF50;
  /* green */
  position: absolute;
  bottom: 0;
  border-top: 10px solid transparent;
  transform: translateX(-50%);
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
}

.scale {
  background: linear-gradient(to right, #e6aaaa 10%, #ddd 10%, #ddd 90%, #e6aaaa 90%);
}

/* New style for the graduation marks */
.scale:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black 1px, transparent 1px);
  background-size: 5% 100%;
  opacity: 0.1;
}

.tall-mark {
  position: absolute;
  width: 1px;
  height: 150%;
  background-color: black;
  bottom: -25%;
  transform: translateX(-50%);
}

/* Full scale values */
.scale-value {
  position: relative;
  z-index: 1;
  /* to appear on top of the marker */
}

.full-scale-values {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  /* Smaller font size for full scale values */
  margin-bottom: 5px;
  /* Spacing between full scale values and the scale */
}